body{font-family: 'Open sans'; }
/*======================
 	  Initializing
======================*/
*[class^="btn"] {
  padding: 8px 12px;
  border: 1px solid transparent;
  display: inline-block;
  font-family: 'Open sans';
  border-radius: 5px;
  color: #ecf0f1;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }

*[class^="btn-"]:hover {
  transform: translate(0px, 2px);
  box-shadow: 0px 2px 0px transparent; }

*[class^="btn"]:active,
*[class^="btn"]:focus {
  transform: translate(0px, 4px);
  box-shadow: 0px 1px 0px transparent; }

*[class^="btn"] > i[class^="fa"] {
  margin: 0px 5px 0px -5px;
  color: inherit; }

/*======================
  Background and colors
======================*/
.btn-t {
  background: #16a085;
  box-shadow: 0px 3px 0px #1abc9c; }

.btn-e {
  background: #27ae60;
  box-shadow: 0px 3px 0px #2ecc71; }

.btn-b {
  background: #2980b9;
  box-shadow: 0px 3px 0px #3498db; }

.btn-p {
  background: #8e44ad;
  box-shadow: 0px 3px 0px #9b59b6; }

.btn-a {
  background: #34495e;
  box-shadow: 0px 3px 0px #2c3e50; }

.btn-y {
  background: #f39c12;
  box-shadow: 0px 3px 0px #f1c40f; }

.btn-o {
  background: #d35400;
  box-shadow: 0px 3px 0px #e67e22; }

.btn-r {
  background: #c0392b;
  box-shadow: 0px 3px 0px #e74c3c; }

.btn-w {
  background: #bdc3c7;
  box-shadow: 0px 3px 0px #ecf0f1; }

.btn-g {
  background: #7f8c8d;
  box-shadow: 0px 3px 0px #95a5a6; }

/*======================
        Styles
======================*/
.n-a {
  transition: none; }
